.header__container {
  height: auto;
  background-color: rgb(244, 241, 255);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 95vw; /* Updated width */
  padding: 1rem;
  margin: 0 2rem;
  box-sizing: border-box;
  border-radius: 10px;
}

.filter-item > button {
  background-color: transparent;
  color: rgb(109, 109, 109);
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
  padding: 0.6rem;
}
@media only screen and (max-width: 650px) {
  .header__container {
    height: auto;
  }
}
.filter {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
